.App-main {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  color: #FFFFFF;
}

.App-main table {
  padding-top: 50px;
  padding-bottom: 50px;
}

.App-main th,
.App-main th * {
  font-weight: 700;
  text-align: left;
}

.App-main th,
.App-main td {
  padding: 2px 15px;
}

.App-main th {
  padding-top: 25px;
  padding-bottom: 10px;
}
